[Unit]
Description=MarkasWalet Streaming Process
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/usr/local/bin/markaswalet-stream/
ExecStart=/usr/bin/python3 /usr/local/bin/markaswalet-stream/mwc_service.py
StandardOutput=append:/usr/local/bin/markaswalet-stream/systemd.log
StandardError=append:/usr/local/bin/markaswalet-stream/systemd.log
Restart=always
RestartSec=10
User=root
Group=root
Environment="PYTHONUNBUFFERED=1"

[Install]
WantedBy=multi-user.target
